#id always auto detected
pan-net:
  registration_baseurl: 'https://{0}/api/csmp/sensors'
  stats: 'on'
  notification: 'off'
  sync_interval: 60
debug:
  performance: 'on'
tags:
  country: '{{ Country }}'
  city: '{{ City }}'
